<h1>Posts#show</h1>
<p>Find me in app/views/posts/show.html.erb</p>

<%= image_tag @post.picture.url %>
<%= image_tag @post.picture.url(:medium)%>
<%= image_tag @post.picture.url(:thumb) %>

<ul>
	<% @posts.each do |p| %>
		<li>
			Created by: <%= p.username %>
		</li>
		<li>
			<img src="<%= p.picture.url %>" />
		</li>
		<li>
			<%= p.description %>
		</li>

	<% end %>
</ul>